.meta {
	color: gray;
	padding-top: 0;
	font-size: 0.8em;
}

.home article p {
	padding: 1em;
}

.page-container > header {
	border-bottom: 1px solid darken($lightgray, 5);
}
.blog .secondary {
	h2 {
		font-family: $displayfont;
		font-size: 2.3em;
		padding-top: 1em;
		text-align: center;
		margin-bottom: 2em;
	}
}
.blog article{
	p{
		line-height: 1.7em;
		padding-right: 1em;
	}
	blockquote {
		background: $lightgray;
		padding: 1em;
		font-family: georgia;
		font-style: italic;
		@media (min-width: 40em){
			width: 60%;
		}
		border-left: .3em solid $accent;
	}
		
}

.wp-caption {
	background: $lightgray;
}

.wp-caption-text {
	padding: 0.5em;
	font-size: .8em;
	counter-increment: figs;
	margin-bottom: 0 !important;
	
	&:before {
		content: 'fig. ' counter(figs) ' ';
		font-weight: bold;
	}
}

.single article, .page article {
	counter-reset: figs;
	p {
		color: rgb(50,50,50);
		margin-bottom: 1em;
	}
	
	ul {
		list-style: circle outside;
		padding-left: 1em;
		line-height: 1.6em;
		li {
			margin-bottom: 0.2em;
		}
	}
	h2 {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 1.3em;
		font-weight: 500;
		display: inline-block;
		margin-bottom: 0.2em;
	}
}

.alignleft {
	@media (min-width:40em){
		float: left;
	}
	
}

.entry-meta {
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	margin-bottom: 1em;
	span {
		padding: .8em 0;
		font-size: 14px;
		color: darken(lightgray, 10);
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: darken(lightgray, 8);
	}
	
	.author a{
		font-weight: 600;
		color: black;
	}
}

.cats {
	float: right;
	border-left: 1px solid $gray;
	margin-right: 1em;
	a {
		padding-left: 1em;
	}
}
.entry-title {
	font-family: $bodyfont;
	font-weight: 800;
	color: $accent;
	margin-bottom: .5em;
	line-height: 1.6em;
	
	@include breakpoint(s){
		font-size: 1.5em;
	}
	@include breakpoint(m){
		font-size: 1.9em;
	}
	@include breakpoint(l){
		font-size: 2.5em;
	}
}
	
.entry-intro {
	font-family: $displayfont;
	font-size: 2em;
	line-height: 1.6em;
}
.blog {
	
	article{
		border-bottom: 5px solid $lightgray;
		margin-bottom: 2em;
		padding-bottom: 2em;
	}
	h2 a{
		font-family: $bodyfont;
		font-size: 2em;
		font-weight: 800;
		text-decoration: none;
		color: $accent;
		line-height: 1.5em;
		&:hover, &:focus {
			text-decoration: underline;
			color: darken($accent, 5);
		}
			
	}
	
}

.blog-title {
	background: $accent;
	width: 90px;
	height: 90px;
	border-radius: 5em;
	margin-bottom: 1em;
	margin-top: 1em;
	
	p {
		margin: 0;
		text-align: center;
	}
	
	.number {
		font-family: $displayfont;
		color: white;
		font-size: 50px;
		line-height: 1em;
		margin-bottom: -10px;
		padding-top: 20px;
	}
	
	.unit {
		color: lighten($accent, 15);
		font-size: 12px;
	}
}

//SEARCH FORMS
#searchform {
	[type='search']{
		padding: .7em;
	}
	[type='submit']{
		@include box($accent);
		@include metro(0);
	}
}

.comments, .sidebar {
	font-size: .8em;
}

.comments {
	padding-right: 2.5%;

	@include breakpoint(m){
		padding-left: 10%;
		width: 60%;
		float: left;
		border-right: 1px solid darken($lightgray, 5);

	}
}
.sidebar {
	@include breakpoint(m){
		width: 35%;
		padding-left: 2.5%;
		display: inline-block;
	}
}