.comments {
	h3 {
		font-size: 1.5em;
		font-weight: 100;
		padding: 0.4em;
	}
	.comment-notes {
		color: gray;
		padding: 0.8em;
	}
	
	.form-allowed-tags {
		display: none;
	}
	form {
		
	@extend .clearfix;
	
		textarea, input {
			width: 98%;
			margin: 0 auto;
			display: block;
			font-family: open sans, sans-serif;
			

			
			&:focus {
				background: lighten($yellow, 12);
				border: 1px solid $accent;
			}
		}
		textarea{
			padding: 1em;
			margin-bottom: 0.5em;
		}
		
		label {
			padding: 1%;
		}
		input {
			margin-bottom: 1.2em;
			padding: 0.5em;
		
			&:valid {
				//background: green;
			}
			&:invalid {
				//background: green;
			}
		}
		
		
		[type="submit"]{
			border:none;
			background: $accent;
			color: white;
			font-weight: 900;
			font-size: 1.1em;
			cursor: pointer;
			
			&:hover, &:focus {
				background: darken($accent, 5);
			}
		}
	}
}

.comment-content {
	padding: 0 1em;
}
		
.commentlist {
	
	.reply a{
		@include box($accent);
		font-size: .9em;
		margin: 0;
		@extend .clearfix;
		}
	
	article {
		width: 100%;

		& + .children {
			padding-left: 2em;
			margin-bottom: 2em;
			.comment-content {
				margin-top: 0;
				float: none;
				display: inline-block;
				background: rgb(250,250,250);
			}
		}
		footer {
			padding-bottom: 0;
		}
		.comment-author {
			position: relative;
			cite {
				font-size: 2em;
				font-family: georgia;
				display: block;
				padding: .6em 0;
			}
			time {
				background: $accent;
				border-radius: 3px 0 0 3px;
				color: white;
				font-size: 1.2em;
				left: -5em;
				padding: 0.7em;
				position: absolute;
				text-align: right;
				top: 1em;
			}
		}
				

		
	}
}


li.comment {
    border: 1px solid lightgray;
    font-size: 13px;
    border-radius: 5px;
}

.comment {
	margin-bottom: 1em;
	blockquote p{
		padding: 0;
		margin: 0;
	}
	
	ol, ul {
		margin: 0;
		padding: 0;
	}
	
	ol {
		list-style: decimal inside;
	}
}