	.widget {
		h1 {
			padding: 0;
			font-weight: bold;
		}
		float: none;
		margin-bottom: 4em;
		margin-left: 1em;
		color: rgb(50,50,50);
		
		ol li, ul li {
			padding-top: 0.5em;
			margin-left: 1em;
			list-style: outside decimal;
		}
		a:link, a:visited {
			text-decoration: none;
			color: $accent;
			display: inline-block;
			padding: 0.5em;
		}
		a:hover, a:focus {
			color: darken($accent, 10);
		}
	}


#wp-calendar {
	width: 100%;
	caption {
		font-weight: bold;
		text-align: left;
		padding-bottom: 0.5em;
	}
	tr:nth-child(odd){
		background: lighten($yellow, 8);
	}
	th {
		background: $lightgray;
		font-weight: bold;
		
	}
	#today {
		background: $yellow;
	}
	td {
		padding: 0.4em;
		a {
			display: inline;
			padding: 0;
		}
	}
}