.meta {
	color: gray;
	padding-top: 0;
	font-size: 0.8em;
}

.home article p {
	padding: 1em;
}

.page-container > header {
	border-bottom: 1px solid darken($lightgray, 5);
}

.blog article{
	p{
		line-height: 1.7em;
		padding-right: 1em;
	}
	blockquote {
		background: $lightgray;
		padding: 1em;
		font-family: georgia;
		font-style: italic;
		@media (min-width: 40em){
			width: 60%;
		}
		border-left: .3em solid $accent;
	}
		
}

.wp-caption {
	margin: 1em;
	padding: .2em;
	background: $lightgray;
	@extend .shadow;
}

.wp-caption-text {
	padding: 0.5em;
	font-size: .8em;
	counter-increment: figs;
	margin-bottom: 0 !important;
	
	&:before {
		content: 'fig. ' counter(figs) ' ';
		font-weight: bold;
	}
}

.single article, .page article {
	counter-reset: figs;
	p {
		color: rgb(50,50,50);
		margin-bottom: 1em;
	}
	
	ul {
		list-style: circle outside;
		padding-left: 1em;
		line-height: 1.6em;
		li {
			margin-bottom: 0.2em;
		}
	}
	h2 {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 1.3em;
		font-weight: 500;
		display: inline-block;
		margin-bottom: 0.2em;
	}
}

.alignleft {
	@media (min-width:40em){
		float: left;
	}
	
}

.single-post {
	.author{
		display: inline;
		a {
			color: black;
			font-size: .8em;
			&:before {content: '('}
			&:after {content: ')'}
		}
	}
	.entry-header {
		h1 {
			line-height: 1.5em;
			font-family: georgia;
			@include breakpoint(s){
				font-size: 1.5em;
			}
			@include breakpoint(m){
				font-size: 1.9em;
			}
			@include breakpoint(l){
				font-size: 3.5em;
			}
		}
		.cat {
			font-weight: 800;
			text-transform: uppercase;
			color: $accent;
			text-decoration: none;
		}
		.posted-on{
			color: gray;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 1em;
			}
		.meta {
			padding: 0;
			font-size: .7em;
		}

	}

}
.blog {
	[role='main']{
		background: $lightgray;
	}
	
	.primary {
		background: white;
	}
	article{
		border-bottom: 5px solid $lightgray;
		margin-bottom: 2em;
		padding-bottom: 2em;
	}
	h2 a{
		font-family: georgia;
		font-size: 2em;
		text-decoration: none;
		color: $accent;
		line-height: 1.5em;
		&:hover, &:focus {
			text-decoration: underline;
			color: darken($accent, 5);
		}
			
	}
	
	.secondary {
		@include breakpoint(s){
			width: 25%;
			float: right;
		}
	}
}

.read-more {
	color: white;
	float: none;
	border: none;
	background: $accent;
	color: .9em;
	border-radius: 5px;
	padding: .2em .4em;
	display: inline-block;
	&:hover, &:focus {
		color: white;
		text-decoration: underline;
		background: darken($accent, 5);
	}
}
//SEARCH FORMS
#searchform {
	[type='search']{
		padding: .7em;
	}
	[type='submit']{
		@include box($accent);
		@include metro(0);
	}
}
.primary {
	display: inline-block;
	padding-top: 1em;
	padding-left: 12.5 / 2 * 1%;
	padding-right: 12.5 / 2 * 1%;
}
.secondary {
	background: $lightgray;
	h2 {
		font-family: georgia;
		font-size: 2.3em;
		padding-top: 1em;
		text-align: center;
		margin-bottom: 2em;
	}
}
.comments, .sidebar {
	font-size: .8em;
}

.comments {
	@include breakpoint(m){
		padding-left: 10%;
		width: 60%;
		float: left;
		border-right: 1px solid darken($lightgray, 5);

	}

	padding-right: 2.5%;
}

.sidebar {
	@include breakpoint(m){
		width: 35%;
		padding-left: 2.5%;
		display: inline-block;
	}
}