.meta {
	color: gray;
	padding-top: 0;
	font-size: 0.8em;
}

.home article p {
	padding: 1em;
}
body:not(.home) {
.page-container > header {
	border-bottom: 1px solid darken($lightgray, 5);
}
footer.entry-meta {
	width: 100%;
	color: lightgray;
	padding: 0;
	&:before {
		content: '\1F4C1';
		@extend .iconfont;
	}
	a {
		color: $accent;
	}
}

article{
	p{
		line-height: 1.7em;
		padding-right: 1em;
	}
	blockquote {
		background: $lightgray;
		padding: 1em;
		font-family: georgia;
		font-style: italic;
		@media (min-width: 40em){
			width: 60%;
		}
		border-left: .3em solid $accent;
	}
		
	h2 a:link, h2 a:visited {
		color: rgb(50,50,50);
		font-size: 1.5em;
		font-weight: 100;
		text-decoration: none;
		line-height: 1.4em;
		&:hover, &:focus {
			color: lighten(rgb(50,50,50), 5);
		}
	}
		
	header {
		border: none;
		padding-bottom: 1em;
		width: 100%;
		
		.entry-meta {
			color: gray;
			border-bottom: 5px solid $lightgray;
			font-size: 0.4em;
			padding-top: 1em;
			padding-bottom: 1em;
			
			.author {
				font-weight: 900;
				text-transform: uppercase;
				color: black;
			}
			a:link, a:visited {
				color: $accent;
			}
		}
	}
}
}

.tags:before {
	content: '\E70C';
	@extend .iconfont;
}

.wp-caption {
	margin: 1em;
	padding: .2em;
	background: $lightgray;
	@extend .shadow;
}

.wp-caption-text {
	padding: 0.5em;
	font-size: .8em;
	counter-increment: figs;
	margin-bottom: 0 !important;
	
	&:before {
		content: 'fig. ' counter(figs) ' ';
		font-weight: bold;
	}
}

.single article, .page article {
	counter-reset: figs;
	p {
		color: rgb(50,50,50);
		margin-bottom: 1em;
	}
	
	ul {
		list-style: circle outside;
		padding-left: 1em;
		line-height: 1.6em;
		li {
			margin-bottom: 0.2em;
		}
	}
	h2 {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 1.3em;
		font-weight: 500;
		display: inline-block;
		margin-bottom: 0.2em;
	}
}

.alignleft {
	@media (min-width:40em){
		float: left;
	}
	
}

.single-post {
	.entry-title {
		line-height: 1.5em;
		font-family: georgia;
		padding-top: 1em;
		@include breakpoint(m){
			font-size: 1.2em;
		}
		@include breakpoint(l){
			font-size: 1.9em;
		}
		@include breakpoint(xl){
			font-size: 2.1em;
		}
	}

}
.blog {
	article{
		border-bottom: 5px solid $lightgray;
		margin-bottom: 2em;
		padding-bottom: 2em;
	}
	h2{
		font-family: georgia;
	}
	
	.secondary {
		@include breakpoint(s){
			width: 25%;
			float: right;
		}
	}
}
//SEARCH FORMS
#searchform {
	[type='search']{
		padding: .7em;
	}
	[type='submit']{
		@include box($accent);
		@include metro(0);
	}
}
.primary {
	display: inline-block;
	padding-top: 1em;
	padding-left: 12.5 / 2 * 1%;
	padding-right: 12.5 / 2 * 1%;
}
.secondary {
	background: $lightgray;
	h2 {
		font-family: georgia;
		font-size: 2.3em;
		padding-top: 1em;
		text-align: center;
		margin-bottom: 2em;
	}
}
.comments, .sidebar {
	font-size: .8em;
}

.comments {
	@include breakpoint(m){
		padding-left: 10%;
		width: 60%;
		float: left;
		border-right: 1px solid darken($lightgray, 5);

	}

	padding-right: 2.5%;
}

.sidebar {
	@include breakpoint(m){
		width: 35%;
		padding-left: 2.5%;
		display: inline-block;
	}
}