.toggleNav {
		@include box($accent);
		text-align: left;
		padding-right: 4em;
		position: relative;
		&:after {
			@extend .iconfont;
			content: '\2630';
			position: absolute;
			font-size: 5em;
			top: -.6em;
			right: .2em;
			
		}
}	

.hasChild{
	&:after {
		@extend .iconfont;
		content: '\E75E';
		display: inline-block;
		width: 30%;
		float: right;
		position: relative;
		top: -.5em;
		text-align: right;
		color: rgb(60,60,60)
	}
}
.nav-main{  
	position: absolute;
	overflow: visible;
	left: -25%;
	z-index: 20;
	height: 100%;
	width: 25%;
	background: white;
	border-right: 1px solid $lightgray;
	box-shadow: 14px 0px 25px -32px rgba(black, .7);
	@include transition(.5s);
	
	.nav-active &{
		left: 0;
	}
	a {
		text-decoration: none;
		padding: 1.1em 1.7em;
		display: block;
		color: rgb(50,50,50);
		border-bottom: 1px solid $lightgray;
		font-size: .9em;
		@include transition(.3s);
		&:hover, &:focus {
			background: $lightgray;
		}
	}

	div > ul > li {
		position: static;
	}
}
.menu {}
.sub-menu {
	display: none;
	@include transition(.5s);
		
	.active + &{
		display: block;
	}
	position: absolute;
	height: 100%;
	left: 100%;
	width: 100%;
	background: $lightgray;
	border-left: 1px solid darken($lightgray, 5);
	top: 0;
	z-index: -10;
	@include transition(.3s);
		
	a {
		border-bottom: 1px solid darken($lightgray, 5);
		&:hover, &:focus {
			color: $accent;
			background: darken($lightgray, 1);
		}
	}
}
	
.page-container {
	@include transition(.5s);
}
.nav-active .page-container {
	-moz-transform: translateX(120px);
	-webkit-transform: translateX(120px);

}
aside nav {
	list-style:none;
	
	.current_page_parent, .current_page_ancestor {
		.children {
			display: block;
			.children {
				display: none;
			}
		}
	}
	.current_page_item {
		& > a {
			color: white;
			background: $accent;
			
			&:hover, &:focus {
				color: white;
				background: darken($accent, 5);
			}
		}
		& > .children {
			display: block !important;
		}
	}
		
	.children {
		margin-left: 1em;
		display: none;
		 .children {
			margin-left: 1em;
		}
	}
		
	
	
	a {
		background: $lightgray;
		margin: 0;
		font-size: 0.9em;
		color: gray;
		&:hover, &:focus {
			color: rgb(50,50,50);
		}
		text-decoration: none;
		
		@include breakpoint(l){
			width: 90%;
			}
		display: block;
		float: none;
		padding: 1em;
		margin-top: 0.5em;
	}
}