.toggleNav {
		@include box($accent);
		text-align: left;
		padding-right: 4em;
		position: relative;
		&:after {
			@extend .iconfont;
			content: '\2630';
			position: absolute;
			font-size: 5em;
			top: -.6em;
			right: .2em;
			
		}
}	

.nav-main{  
	position: absolute;
	left: -25%;
	background: white;
	z-index: 10;
	padding: 2em;
	@include transition(.5s);
	
	.nav-active &{
		left: 0;
	}
}
.page-container {
	@include transition(.5s);
}
.nav-active .page-container {
	-moz-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	-webkit-filter: saturate(90%);
}
aside nav {
	list-style:none;
	
	.current_page_parent, .current_page_ancestor {
		.children {
			display: block;
			.children {
				display: none;
			}
		}
	}
	.current_page_item {
		& > a {
			color: white;
			background: $accent;
			
			&:hover, &:focus {
				color: white;
				background: darken($accent, 5);
			}
		}
		& > .children {
			display: block !important;
		}
	}
		
	.children {
		margin-left: 1em;
		display: none;
		 .children {
			margin-left: 1em;
		}
	}
		
	
	
	a {
		background: $lightgray;
		margin: 0;
		font-size: 0.9em;
		color: gray;
		&:hover, &:focus {
			color: rgb(50,50,50);
		}
		text-decoration: none;
		
		@include breakpoint(l){
			width: 90%;
			}
		display: block;
		float: none;
		padding: 1em;
		margin-top: 0.5em;
	}
}